doctype html
html
  head
    title List of users
  body
    div.form-row
      div.col.form-group.col-md-9    
        form.search(action='/userlist')
          div.form-row
            div.col-md-8
              input.form-control(name='nickName' placeholder="Enter your search term ...")
            div.col-md-4
              input.btn.btn-dark.btn-block(type="submit")
    table
      thead
        tr
          th firstname
          th lastname
          th nickName
          th nIN
          th age
          th occupation
      tbody
        each user in users
          tr

            td #{user.firstName}
            td #{user.lastName}
            td #{user.nickName}
            td #{user.nIN}
            td #{user.age}
            td #{user.occupation}
            

